.vertical-menu {
    width: 200px;
    height: 500px;
    overflow-y: auto;
    position: fixed;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    cursor: auto;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #09d3ac;
    color: white;
  }